<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div class="cont top">
    <form action="http://localhost:3000/login" method="post">
        <div class="form sign-in">
            <h2>Welcome back,</h2>
            <label class="label-width">
                <span>Email</span>
                <input class="inputtage"  type="email" name="email" required/>
            </label>
            <label class="label-width">
                <span>Password</span>
                <input class="inputtage" type="password" name="password" required/>
            </label>
            <button type="submit" class="submit">Sign In</button>
        </div>
    </form>

    <div class="sub-cont">
        <div class="img"></div>
    </div>
</div>
</body>
</html>